@import "tailwindcss";
@plugin '../hero.js';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
background-image: url('../assets/images/nextify-auth-bg.svg');
